<!DOCTYPE html>
<html>
  <head>
    <title>Eric Ng</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Raleway&family=Roboto&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/static/stylesheets/styles.css">
  </head>
  
  <body>

    <nav>
      <span class="navbar-container">
        <a class="navbar-item" href="/">Eric Ng</a>
        <a style="margin-right: 10px"> | </a>
        <a class="navbar-item" href="/">Home</a>
        <a class="navbar-item" href="/posts.html">Blog</a>
        <i class="navbar-item darkmode-icon" data-feather="sun"></i>
      </div>
    </nav>
 
    <div class="jinja-container">
      {% block content %}{% endblock %}
    </div>
    <script src="https://unpkg.com/feather-icons"></script>
    <script>
      feather.replace()
    </script>
  </body>
</html>
