{% extends "base.html" %}


{% block content %}
  <!-- Intro -->
  <div class="banner">
    <div class="banner-img-border"></div>
    <div class="banner-icons">
      <i class="banner-icon" data-feather="github"></i>
      <i class="banner-icon" data-feather="linkedin"></i>
      <i class="banner-icon" data-feather="twitter"></i>
    </div>
    <h1 class="banner-title">Your name here</h1>
    <p class="banner-text">ongue dapibus. In finibus, justo ac semper vulputate, velit magna lobortis sapien, a sagittis mi risus eget mauris. Donec at nibh nec nisi semper auctor. Donec suscipit sapien eu pretium posuere. Curabitur risus magna, laoreet a luctus non, iaculis sit amet metus. </p>
  </div>
{% endblock %}
